POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=petdb

# Servidor
PORT=3000
NODE_ENV=production

# Base de datos
DATABASE_URL=postgresql://admin:admin123@postgres:5432/petdb

# Better Auth
BETTER_AUTH_SECRET=669c1ea672766793c137c32b1a34a6437e70ccfd767af7a8c6e0d4141b1e290b
STATIC=static
CSRF_BETTER=false

CORS=http://localhost
BETTER_AUTH_URL=http://localhost